
.accountP {
  margin: 30px;
  font-family: "Poppins", sans-serif;
  background-color: #fde0d9;
  color: #000;
  flex-direction: column; 
  justify-content: start;
  min-height: 10vh;
}

.h2P {
  text-align: center;
  margin-top: 2rem;
  font-size: 1.8rem;
  color: #000;
}

img {
  margin-top: 1rem;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ffffff; 
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}
.pP {
  font-size: 20px;
  margin: 8px;
  color: #000000;
}
form {
  margin-top: 10px;
  background-color: #fff4ef;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  display: inline-block;
}

.inputlP[type="file"] {
  display: block;
  margin: 15px auto;
  font-family: inherit;
  cursor: pointer;
}

.buttonP {
  background-color: #f9a68b;
  color: #000;
  border: 1px solid #000;
  padding: 5px 3px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.buttonP:hover {
  background-color: #ffb79c;
  color: #000000 ;
}

.aP {
  margin: 5cm 10cm;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border: 1px solid #000;
  padding: 4px 40px;
  border-radius: 18px;
  background-color: #fcfcfc;

}

a:hover{
    background-color: #f9a68b;
    color:#fff
}
.input-oculto {
  opacity: 0;
  width:100px; 
  height: 0.1px;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.boton-personalizado {
  background-color: #f9a68b; 
  color: #000;
  border: 1px solid #000;
  padding: 5px 10px; 
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  display: inline-block; 
  margin-right: 10px; 
}

.boton-personalizado:hover {
  background-color: #ffb79c;
  color: #000000;
}
