.body-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: large;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid #333;
  padding: 50px;
  padding-right: 100px;
  padding-left: 100px;
  border-radius: 30px;
  background-color: #fff6f3;
}

.login-form img {
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: center;
  width: 250px;
}

.login-form input {
  width: 340px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #333;
  border-radius: 10px;
}

.login-form button {
  align-self: center;
  width: 200px;
  background-color:#fae1da;
  padding: 10px 20px;
  border: 2px solid ;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-register {
    background-color: #fff6f3;
  border-radius: 15px;
  border-style: solid;
  border-color:black;
  border-width: 2px;
  padding: 15px;

}
